---
content: 
   backgroundImage: "/background.png"
   title: Jan Emily M
   links:
      - 
         icon: desktop.svg
         url: janemilym.com
      -
         icon: social-icons/spotify_mono.svg
         url: https://open.spotify.com/user/1244110737?si=3d616a5a69654238
# headline: what's the vibe?
# headlineColor: "white"
theme: 
   titleColor: "white"
   iconColor: "white"
   desktopAspectRatio: 9/16 # popular on social media
developerSettings:
   baseUrl: jem.vibing.digital
   lyket: false
   referralLink: https://referral.foundations.design/jem
---

{% extends "base.njk" %}
{% block content %}

<main>      
   <nav class="links">
      {% for link in content.links %}
         <a target="_blank" href="{{link.url}}" class="link">
            {% include link.icon %}
         </a>
      {% endfor %}
   </nav>
   <header>
      <hgroup>
         <h1 class="title">{{content.title}}</h1>

      </hgroup>
   </header>
</main>

<style>

   /*
   main {
      border; 1px solid red;
      }
   main > * {
      border: 1px solid blue;
   }
   */

   body {
      background-image: url({{content.backgroundImage}});
      background-position: 50% 50%;
      background-size: cover;
      position: relative;
   }

   main {
      top: 32%;
      bottom: 32%;
      left: 5%;
      right: 5%;
      position: absolute;
      margin: auto;
      display: grid;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
   }

   header {
      position: absolute;
      top: 15%;
      bottom: 15%;
      left: 8%;
      right: 30%;
   }

   .links {
      top: 15%;
      bottom: 15%;
      left: 70%;
      right: 8%;
      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
      flex-wrap: wrap;
      direction: rtl;
      position: absolute;
      justify-content: space-between;
   }

   :root {
      --font-secondary: "Anonymous Pro";
   }

</style>

<style>
   
   hgroup {
      margin: auto;
      height: 100%;
      place-self: flex-start center;
      display: grid;
      place-content: flex-end;
   }

   hgroup h1 {
      width: 100% ;
      color: {{theme.titleColor}};
      margin: 0;
      line-height: 1;
      font-size: clamp(24px, 8lvmax, 60px);
      text-transform: lowercase;
      word-break: break-word;
      word-spacing: 50000px;
   }

   hgroup p {
      color: {{headlineColor}};
      text-align: right;
      margin-top: -0.5rem;
      margin-right: 0.5em;
      letter-spacing: 0.09em;
      opacity: 0.9;
   }

   .link {
      width: clamp(24px, 8lvmax, 48px);
      height: auto;
   }

   .link svg {
      fill: {{theme.iconColor}};
      height: auto;
   }

   .link:first-child {
      width: clamp(36px, 12lvmax, 72px);
   }
</style>

{% endblock %}